

#game {
    margin: auto;
    border: 1px solid black;
    height: 500px;
    width: 800px;
}

#avatar {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

.animate {
    animation: jump 500ms infinite;
}

#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}

@keyframes jump{
    0%{top:150px;}
    50%{top:100px;}
    100%{top:150px;}
}